body {
    background-color: #58616b;
    font-family: Calibri;
    color: #eaeaea;
}
.main {
    margin: auto;
    background-color: #8f8f8f;
    padding: 5px;
    width: 650px;
}
#header {
    background-color: #355c82;
    padding: 8px;
}
.container {
    width: 650px;
    background-color: #8f8f8f;
}
#first {
    width: 640px;
    float: left;
    min-height: 300px;
    background-color: #435a70;
    padding: 5px;
}
#second {
    width: 300px;
    float: left;
    height: 300px;
    background-color: #51606e;
}
#clear {
    clear: both;
}

.button {
    background-color: #806a6a;
    border: none;
    color: #eaeaea;
    text-align: auto;
    padding: 7px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0px 0px;
    cursor: pointer;
    border-radius: 6px;
    width: 40px;
}

.button:hover {
    background-color: #6e5b5b;
    color: white;
}

.dynbutton {
    background-color: #806a6a;
    border: none;
    color: #eaeaea;
    text-align: auto;
    padding: 7px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0px 0px;
    cursor: pointer;
    border-radius: 6px;
}

.dynbutton:hover {
    background-color: #6e5b5b;
    color: white;
}

.footer {
    margin: auto;
    background-color: #58616b;
    padding: 5px;
    width: 650px;
    color: white;
    font-size: 10px;
    text-align: right;
}
