<html>
    <head>
        {% block head %}
            <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
            <title>VanFlymenCoin</title>
        {% endblock %}
    </head>
    <body>
        <div class="main">
            <div class="container">
                <div id="header">

                        <h2>VanFlymenCoin API</h2>
                        <a href="/explorer" class="button">Blockchain</a>
                        <a href="/transactions" class="button">Transactions</a>
                        <a href="/mining" class="button">Mining</a>
                        <a href="/nodes" class="button">Nodes</a>
                        <a href="/nodes" class="button">Wallet</a>
                    <br><br>
                </div>
            </div>

            <div class="container">
                <div id="first">
                    {% block content %}
                    {% endblock %}

                </div>
                <div id="clear"></div>
            </div>
        </div>

        <div class="footer">
            {{ version }}
        </div>

	</body>
</html>