{% extends "base.html" %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}

    <b>Wallet balance:</b> <i>{{ wallet_balance }}</i> <font size="2">ppCoin</font>
    <br><br>

    <b>Send coins</b>
    <br>
    <form action="/transactions/new" method="POST">
    <table>
        <tr>
            <td>Recipient wallet: </td>
            <td><input type="text" name="recipient" value=""></td>
        </tr>
        <tr>
            <td>Amount: </td>
            <td><input type="text" name="amount" value=""></td>
        </tr>
        <tr>
            <td><input type="submit" class="submit" value="Submit"></td>
        </tr>
    </table>
    </form>

    <b>Recieve coins</b><br>
    <a href="/generate" class="dynbutton">Generate address</a>
    <br>
    <br>
    <b>Transactions in pool</b>
    <br>
    {% for i in context %}
        {{ i }}
    <br>
    {% endfor %}
{% endblock %}