{% extends "base.html" %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
    <div class="content-container">
        <table>
            <tr>
                <td>
                    <div class="table-header">
                        <b>Wallet balance</b>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <center><font color="#f2c84b">{{ wallet_balance }}</font> <font size="2"><i>ppCoin</i></font></center>
                </td>
            </tr>
        </table>
    </div>
    <br>
    <br>
    <div class="content-container">
        <form action="/transactions/new" method="POST">
            <table>
                <tr>
                    <div class="table-header">
                        <b>Send coins</b>
                    </div>
                </tr>
                <tr>
                    <td>Recipient wallet: </td>
                    <td><input type="text" name="recipient" value=""></td>
                </tr>
                <tr>
                    <td>Amount: </td>
                    <td><input type="text" name="amount" value=""></td>
                </tr>
                <tr>
                    <td><input type="submit" class="submit" value="Submit"></td>
                </tr>
            </table>
        </form>
    </div>
    <br>
    <br>
    <div class="content-container">
        <table>
            <tr>
                <td>
                    <div class="table-header">
                        <b>Recieve coins</b>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                     <a href="/generate" class="dynbutton">Generate address</a>
                </td>
            </tr>
        </table>
    </div>
    <br>
    <br>
    <b>Transactions in pool</b>
    <br>
    {% for i in context %}
        {{ i }}
    <br>
    {% endfor %}
{% endblock %}